{% load staticfiles %}
{% load fontawesome %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotify | Share and Discover Awesome Quotes</title>
    <link rel="stylesheet" href="{% static 'quotify/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'quotify/css/font-awesome.min.css' %}">
    <script src="https://use.typekit.net/iii7xtz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://use.typekit.net/iii7xtz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {% fontawesome_stylesheet %}
  </head>
  <body>
    <div id="wrapper">
      <div class="logo">Quotable Quotes</div>
      <div class="menu">
        <h3>Welcome, {{ loggedInUser.first_name }}  <a href="/quotes">{% fontawesome_icon 'dashboard' color='#e80c79' %} Dashboard</a> | <a href="/users/{{ request.session.id }}">{% fontawesome_icon 'user' color='#e80c79' %} Account</a> | <a href="/logout"> {% fontawesome_icon 'lock' color='#e80c79' %} Logout</a></h3>
      </div><br>
      <div class="left-col">
        <h2>Submit New Quote</h2>
        <form class="" action="/add_quote" method="post">
          {% csrf_token %}
          <textarea name="quote" rows="8" cols="80" placeholder="Enter quote content here"></textarea>
          <input type="text" name="author" value="" placeholder="Author's name">
          <input type="submit" name="" value="Submit Quote">
        </form>
          {% for quote in allQuotes %}
          <div class="quotes">
            <p>{{ quote.quote }}</p>
            <p>- <i>{{ quote.author }}</i></p>
            <hr><br>
            Posted by <a href="/users/{{ quote.user.id }}">{{ quote.user.first_name }}</a> on {{ quote.created_at }} <a href="/add_fav/{{ quote.id }}">{% fontawesome_icon 'heart' color='#e80c79' %} Add Favorites</a> • <a href="/delete/{{ quote.id }}"> {% fontawesome_icon 'trash' color='#e80c79' %} Delete this Quote</a>
          </div>
          {% endfor %}
      </div>
      <div class="right-col">
        <h2>My Favorite Quotes</h2>
        {% for fav in favQuotes %}
        <div class="fav_quotes">
          <p>{{ fav.quote.quote }}</p>
          <p><i>- {{ fav.quote.author }}</i></p>
          <hr>
          <p>Posted on {{ fav.quote.created_at }}<a href="/remove_fav/{{ fav.quote.id }}"> {% fontawesome_icon 'heart' color='#e80c79' %} Remove Fav</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
